<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
<form
  [formGroup]="uploadForm"
  (ngSubmit)="upload()"
  enctype="multipart/form-data"
>
  <div class="dropzone-wrapper">
    <div class="dropzone">
      <input
        type="file"
        #fileDropzone
        id="file-dropzone"
        formControlName="file"
        required
        multiple
      />
      <span class="material-symbols-outlined"> upload </span>
      <div class="center-text">Drag and drop your files here or</div>
      <button
        mat-flat-button
        (click)="fileDropzone.click(); $event.preventDefault()"
      >
        Browse for your files
      </button>
    </div>
  </div>
  <div class="file-list">
    <div
      class="file"
      *ngFor="let file of array.from(fileDropzone.files || []); let i = index"
      [title]="file.name"
    >
      <mat-icon>insert_drive_file</mat-icon>
      <div class="file-title">{{ file.name }}</div>
      <button
        mat-icon-button
        class="clear-button"
        (click)="removeFile(i, $event)"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>
  <div class="control-buttons">
    <button
      class="upload-button"
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="!fileDropzone.files?.length || (loadingUpload$ | async)"
    >
      <span *ngIf="!(loadingUpload$ | async)"
        >Upload Files ({{ fileDropzone.files?.length }})</span
      >
      <mat-icon *ngIf="loadingUpload$ | async"
        ><mat-spinner color="primary" diameter="18"> </mat-spinner
      ></mat-icon>
    </button>
    <button
      class="upload-button"
      mat-flat-button
      color="primary"
      (click)="runBatchJob(); $event.preventDefault()"
      [disabled]="loadingBatch$ | async"
    >
      <span *ngIf="!(loadingBatch$ | async)">Run Batch Job</span>

      <mat-icon *ngIf="loadingBatch$ | async"
        ><mat-spinner color="primary" diameter="18"> </mat-spinner
      ></mat-icon>
    </button>
  </div>
</form>
